
<div class='container'>
<header>
    {{#> header-block}}  
        {{> includes/header}} 
    {{/header-block}}
</header>
<main>
    <div class='mainHolder'>
        <img class='mainMary' src='./images/mainMary.jpg'>
        <h4 class='quote'> “Pray, pray very much, and make sacrifices for sinners.” ~ Mary at Fatima, October 13, 1917</h4>

    </div>
    <div style='text-align: center' class='row'>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class='thirdPic'>
                <img class='thirdImage' src='./images/heart.jpg'>
                <h3 class='subheader'> Our Mission </h3>
                <p class='subPar'>Mary’s WAY® is a woman’s event which strives to deepen our Catholic faith by uniting souls more closely to
                    Jesus Christ.</p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class='thirdPic'>
                <img class='thirdImage' src='./images/handRosary.jpg'>
                <h3 class='subheader'> Parish & Events </h3>
                <p class='subPar'>Find a parish near you and join us in honoring Mary’s Virtues and Obedience to God.</p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class='thirdPic'>
                <img class='thirdImage' src='./images/praying.jpg'>
                <h3 class='subheader'> Prayer Corner </h3>
                <p class='subPar'>By praying, we give God a definite place in our lives, openly allowing His grace to transform us by strengthening
                    our faith and trust in Him.</p>
            </div>
        </div>
    </div>

</main>







<footer>
    {{#> footer-block}}  
        {{> includes/footer}} 
    {{/footer-block}}
</footer>
</div>