/** {
    box-sizing: border-box;
}


.topContactContainer {
    padding: 10px;
    background-color: #EEEEEE;
}

.topContact {
    margin-bottom: 0px;
}

.topIcon {
    margin-left: 15px;
}

nav {
    margin-bottom: 0px;
    color: green;
}

.logoTest {
    height: 100px;
}

.navLink {
    padding-left: 10px;
}


.container {
    background-color: white;
    padding: 0px;
}

#linkContainer {
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    font-size: 18px;
}

.navbar .navbar-collapse {
    text-align: center;
}



*/

nav.navbar-default.navbar {
    border-radius: 0px; 
    margin-bottom: 0px;
    height: 150px;
}

.navbar-default .navbar-brand {
  display: flex;
  align-items: center;
  padding-top: 0px;
  /*padding-bottom: 25px;*/
  /*padding: 5px;*/
}

#logo {
  height: 130px;
  width: auto;
}

ul.navbar-nav>li {
    font-size: 16px;
} 

#logoUl {
    max-width: 350px;
    padding-top: 5px;
}

#logoUl>li>a {
    padding: 0px;
    /*margin-right: 0px;*/
}

.nav>li>a.navlinks {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 65px;
    /*float: left;*/
}

ul.nav.navbar {
    align-items: right;
}

#collapsibleLinks {
    float: right;
}
