<style>
    #footerWrap {
      
        color: white;
    }

    h5 {
        margin: 0px;
        padding: 15px;
        background-color: #1E1D18;
    }
</style>

<div id='footerWrap'>
    <h5> James J Winkle </h5>
    <h5 style='padding-top: 0px; padding-bottom: 0px;'>  © 2017 My Mary’s Way®</h5>
    <h5 style='padding-top: 0px;'>  The Mary’s Way Trademark is registered with the United States Patent and Trademark Office, registration number 85358070.</h5>
</div>